<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.chedifier.talkbackdemo"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="example.chedifier.hook"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        tools:replace="android:name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".TalkbackTest"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|fontScale|screenSize|mcc|mnc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
