<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chedifier.previewofandroidn">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.IG" />

    <permission
        android:name="com.example.chedifier.previewofandroidn.permissions.mycontentprovider"
        android:label="myprovider"
        android:description="@string/permission_of_myprovider"
        android:protectionLevel="normal"/>

    <permission
        android:name="com.example.chedifier.previewofandroidn.permissions.fileprovider"
        android:label="fileprovider"
        android:description="@string/permission_of_fileprovider"
        android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainActivityTheme"
            android:configChanges="density|screenSize|smallestScreenSize|screenLayout|orientation">

            <layout
                android:defaultHeight="80dp"

                android:gravity="right"/>

            <!--android:resizeableActivity="false"-->


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".multiwindows.MultiWindowActivityMain"
            android:configChanges="density|screenSize|smallestScreenSize|screenLayout|orientation">

            <layout android:defaultHeight="700dp"
                android:minimalSize="450dp" />

        </activity>

        <activity android:name=".multiwindows.MultiWindowSampleActivity"
            android:taskAffinity=""
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">

        </activity>

        <activity android:name=".multiwindows.MultiWindowSampleActivity2"
            android:taskAffinity=".task2"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">

        </activity>

        <activity android:name=".multiwindows.MultiWindowSampleActivity3"
            android:taskAffinity=".singleW"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">

        </activity>

        <activity android:name=".multiwindows.SingleWindowActivity"
            android:resizeableActivity="false"
            android:taskAffinity=".singleW"
            android:configChanges="screenSize|smallestScreenSize|orientation">

        </activity>

        <activity android:name=".multiwindows.DragAndDropTestActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">

        </activity>

        <activity android:name=".multiwindows.DragAndDropTestActivityInAnotherProc"
            android:process=":drop"
            android:taskAffinity=""
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">

        </activity>


        <activity android:name=".notifications.NotificationTestActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">

        </activity>

        <service android:name=".notifications.AutoNotifyService"/>

        <service android:name=".download.DownloadService"/>

        <activity android:name=".datasaver.DataSaverTestActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">

        </activity>

        <receiver android:name=".notifications.MyNotificationReceiver"/>

        <receiver android:name=".backgroupopt.ConnectivityChangeReceiver">

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>

        </receiver>

        <receiver android:name=".backgroupopt.NewPic$VideoReceiver">

            <intent-filter>
                <action android:name="android.hardware.action.NEW_PICTURE"/>
                <action android:name="android.hardware.action.NEW_VIDEO"/>
            </intent-filter>

        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.chedifier.previewofandroidn.fileprovider"
            android:permission="com.example.chedifier.previewofandroidn.permissions.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/providerfiles"
                />

        </provider>


        <provider
            android:name="com.example.chedifier.previewofandroidn.common.MyContentProvider"
            android:authorities="com.example.chedifier.previewofandroidn.mycontentprovider"
            android:permission="com.example.chedifier.previewofandroidn.permissions.mycontentprovider"
            android:exported="true">

        </provider>

        <activity android:name=".backgroupopt.JobSchedulerTestActivity"/>

        <service android:name=".backgroupopt.TestJobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

    </application>

</manifest>