<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.chedifier.chedifier"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:description="@string/accessibility_service_description"
        android:icon="@drawable/bdls_logo"
        android:label="chedifier_1"
        android:name="com.chedifier.exported.action"
        android:protectionLevel="dangerous"/>

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="huawei.android.permission.HW_SIGNATURE_OR_SYSTEM" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.google.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <uses-permission android:name="com.huawei.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher2.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher3.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.huawei.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher2.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.google.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.google.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/>

    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--<uses-sdk tools:overrideLibrary="example.chedifier.hook"/>-->
    <!--<uses-sdk tools:overrideLibrary="com.woxthebox.draglistview"/>-->

    <application
        android:name=".MyApplication"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        tools:replace="android:name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|fontScale|screenSize|mcc|mnc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.SecondaryActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Dialog">

            <intent-filter>
                <!-- 自定义的action，通过自定义的action可以跨app调用到activity 10.9以后新版会命中这个action-->
                <action android:name="com.uc.baidu.v1.action.SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.ucmobile.category.SHORTCUT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".common.BlankActivity"
            android:taskAffinity=".blank"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Dialog"
            />

        <activity android:name=".test.talkback.TalkbackTest" />

        <activity
            android:name=".test.SkyWalkerTestActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".bdls.BDLSActivity"
            android:launchMode="singleTask"
            android:taskAffinity=":bdls"
            android:stateNotNeeded="true"
            android:icon="@drawable/bdls_shortcut"
            android:theme="@style/BDLSActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:exported="true"
            android:excludeFromRecents="true"
            android:configChanges="orientation|smallestScreenSize|screenLayout|screenSize|fontScale|keyboardHidden|locale|layoutDirection|mcc|mnc">

            <intent-filter>
                <action android:name="fkldjslnknvkljdiosuioejklmdkfjkdlsj" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <service
            android:name=".BackgroundService"
            android:process=":svr"/>


        <receiver android:name=".test.NetworkConnectReceiver"
            android:enabled="true"
            android:process=":svr">

            <intent-filter android:priority="1000">
                <action android:name="android.net.wifi.supplicant.STATE_CHANGE"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>

        </receiver>

        <receiver android:name=".test.NetworkReceiver">
            <intent-filter>

                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE_IMMEDIATE" />
                <action android:name="android.net.wifi.SCAN_RESULTS" />
                <!-- wifi开关 -->
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <!-- wifi配置 -->
                <action android:name="android.net.wifi.RSSI_CHANGED" />
                <action android:name="android.net.wifi.CONFIGURED_NETWORKS_CHANGE" />
                <!-- wifi认证 -->
                <action android:name="android.net.wifi.supplicant.STATE_CHANGE" />

                <action android:name="android.net.conn.CAPTIVE_PORTAL" />
            </intent-filter>

        </receiver>

        <service
            android:name="com.uc.persistentservicelib.daemon.DaemonService"
            android:process=":daemon"/>

        <receiver
            android:name="com.uc.persistentservicelib.daemon.HostBroadCastReceiver"
            android:process=":svr"/>

        <receiver
            android:name="com.uc.persistentservicelib.daemon.DaemonBroadCastReceiver"
            android:process=":daemon"/>

        <service android:name=".ChedifierAccessibilityService"
            android:description="@string/accessibility_service_description"
            android:label="@string/accessibility_service_description"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

        </service>

        <receiver android:name=".test.ExportAction"
            android:permission="com.chedifier.exported.action"
            android:exported="true">
            <intent-filter>
                <action android:name="com.chedifier.export.action1" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
